body {
  font-family: "Karla", sans-serif;
  cursor: default;
  background-color: #f5f7fa;
}

a {
  text-decoration: none;
  font-style: italic;
  color: #0099cc;
}

a:visited {
  color: #0099cc;
}

a:hover {
  text-decoration: underline;
}

.dashedSeperator {
  border-bottom: 1px dashed gray;
  margin: 0.5em 0 0.5em 0;
}

.titles {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  font-weight: 800;
}

.title {
  color: #7fb5b5;
}

.secondaryTitles {
  font-size: 1.25em;
  color: #7fb5b5;
}

.projectNames {
  font-size: 1.4em;
  padding: 0 0 5px 0;
  color: #7fb5b5;
}

.technologyNames {
  color: #7fb5b5;
}

.workplace,
.school {
  font-size: 0.9em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 0.5em;
  font-size: 3em;
}

.title {
  font-size: 1.5em;
}

.contact {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.phone,
.email,
.address {
  padding: 10px;
}

.information {
  display: flex;
  flex-direction: row;
  margin: 0 10vw 0 10vw;
}

.educationSection,
.experienceSection {
  display: flex;
  width: 48vw;
  margin: 0 2vw 0 0;
  flex-direction: column;
}

.technologySection {
  display: flex;
  width: 50vw;
  margin: 0 2vw 0 0;
  flex-direction: column;
}

.education,
.experience,
.findMeOnline,
.techStack,
.projects {
  border-bottom: 2px solid #585858;
}

.dateAndLocation {
  display: flex;
  color: gray;
  font-size: 0.8em;
}

.schoolDate {
  margin: 0 0.5vw 0 0;
}

.onlineProfiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.linkedin,
.reddit,
.personal,
.github {
  display: flex;
  flex-direction: row;
}

.frontend,
.backend,
.deployment {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  padding: 3px;
  margin: 5px;
  border: 1px solid #585858;
}

.skills:hover {
  background-color: #7fb5b5;
}

.fa-linkedin-in {
  color: #0e76a8;
}

.fa-reddit-alien {
  color: #ff5700;
}

.fa-github {
  color: #333;
}

.fa-mobile-alt,
.fa-envelope,
.fa-home {
  color: #7fb5b5;
}
