body {
  font-family: "Karla", sans-serif;
  font-size: 0.9em;
}

.dashedSeperator {
  border-bottom: 1px dashed #585858;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.titles {
  font-size: 1.75em;
  margin-bottom: 0.25em;
  font-weight: 800;
}

.secondaryTitles {
  font-size: 1.25em;
}

.projectNames {
  font-size: 1.4em;
  padding-bottom: 2px;
}

.workplace,
.school {
  font-size: 0.9em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 0.5em;
  font-size: 3em;
}

.title {
  font-size: 1.5em;
}

.contact {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.phone,
.email,
.address {
  padding: 5px;
}

.information {
  display: flex;
  flex-direction: row;
  margin-right: 4vw;
  margin-left: 8vw;
}

.educationSection,
.experienceSection {
  display: flex;
  width: 45vw;
  margin-right: 2vw;
  flex-direction: column;
}

.technologySection {
  display: flex;
  width: 50vw;
  margin-right: 2vw;
  flex-direction: column;
}

.education,
.experience,
.findMeOnline,
.techStack,
.projects {
  border-bottom: 2px solid #585858;
}

.dateAndLocation {
  display: flex;
  font-size: 0.8em;
  padding: 6px;
}

.schoolDate {
  margin-right: 0.5vw;
}

.frontend,
.backend,
.deployment {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  padding: 3px;
  margin: 5px;
  border: 1px solid #585858;
}